<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="functionIN"/>
<stringAttribute key="ConnectionInfo" value=""/>
<stringAttribute key="EGName" value="functionIS"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="HABEN"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="45"/>
</launchConfiguration>